.card {
  width: 400px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 50px 50px 100px 100px #000000;
  margin: 25px;
  padding: 10px;
  color: #ffffff;
  background-color: #1d1d1d;
  border: 1px solid #ffffff;

  .header {
    font-size: 2rem;
  }

  .divider {
    border-top: 1px solid #ffffff;
    height: 10px;
  }

  .body {
    font-size: 1.4rem;
  }
}
